Source: perfsonar-meshconfig
Section: misc
Priority: extra
Maintainer: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/mesh-config
Vcs-Browser: https://github.com/perfsonar/mesh-config

Package: perfsonar-meshconfig-shared
Architecture: all
Depends: perl, libperfsonar-perl, libclone-perl, libfreezethaw-perl,
 libjson-perl, liblog-log4perl-perl, libmoose-perl, libnet-ip-perl,
 libparams-validate-perl, liburi-perl, ${misc:Depends}
Description: perfSONAR MeshConfig Shared
 This package is the set of library files shared by the perfSONAR Mesh
 Configuration agents.

Package: perfsonar-meshconfig-jsonbuilder
Architecture: all
Depends: perl, perfsonar-meshconfig-shared, libclone-perl,
 libconfig-general-perl, libdata-validate-domain-perl,
 libdata-validate-ip-perl, libjson-perl, liblog-log4perl-perl,
 libnet-ip-perl, libperfsonar-sls-perl, ${misc:Depends}
Description: perfSONAR MeshConfig JSONBuilder
 The perfSONAR-PS Mesh Configuration JSON Builder is used to convert the Mesh
 .conf file format into a properly formed JSON file for agents to consume.

Package: perfsonar-meshconfig-agent
Architecture: all
Depends: perl, perfsonar-meshconfig-shared, perfsonar-common,
 libperfsonar-perl, libconfig-general-perl, libdata-validate-domain-perl,
 libdata-validate-ip-perl, libfreezethaw-perl, libjson-perl,
 liblog-log4perl-perl, libmime-lite-perl, libmoose-perl,
 libnet-ip-perl, libparams-validate-perl, liburi-perl,
 liblinux-inotify2-perl, libperfsonar-pscheduler-perl,
 liblog-dispatch-filerotate-perl, 
 libperfsonar-toolkit-perl, pscheduler-server, ${misc:Depends}
Provides: perfsonar-regulartesting
Replaces: perfsonar-regulartesting
Conflicts: perfsonar-regulartesting
Description: perfSONAR MeshConfig Agent
 The perfSONAR-PS Mesh Configuration Agent downloads a centralized JSON file
 describing the tests to run and uses it to generate appropriate configuration
 for the various services.

Package: perfsonar-meshconfig-guiagent
Architecture: all
Depends: perl, perfsonar-meshconfig-shared, perfsonar-common,
 libperfsonar-perl, libconfig-general-perl, libdata-validate-ip-perl,
 libjson-perl, liblog-log4perl-perl, libmime-lite-perl, libmoose-perl,
 libnet-ip-perl, libparams-validate-perl, liburi-perl, libyaml-perl,
 liblinux-inotify2-perl, libperfsonar-toolkit-perl,
 liblog-dispatch-filerotate-perl, ${misc:Depends}
Description: perfSONAR MeshConfig GUIAgent
 The perfSONAR-PS Mesh Configuration Agent downloads a centralized JSON file
 describing the tests a mesh is running and generates a MaDDash configuration.
